;Item Fix
;-------------------
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "slow_trigger"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
}

;Shader Removal
;-------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "438290"
	}
	delete:
	{
		"OnMapSpawn" "pixel_overlayStartOverlays0-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "jumpscare_case"
	}
	delete:
	{
		"OnCase01" "pixel_overlayStartOverlays0.43-1"
		"OnCase02" "pixel_overlayStartOverlays0.43-1"
	}
}